
// Color variables 

$primary-color:     #1F88FC;
$first-color:       #6923D0;
$first-color-light: #F4F0FA;
$title-color:       #19181B;
$text-color:        #36395a;
$text-color-muted:  #6f737a;
$text-color-light:  #A5A1AA;
$body-background:   white;
$sidenav-color:     #000F26;
$nav-color:         #f7f7f7;
$nav-active:        #51a5d9;
$sidebar-hover:     #1d1b3120;

$body-font: 'Roboto', sans-serif;


$primary: #1f88fc;
$danger: #ff4136;
$secondary: #546E7A;
